
$breakpoints: (
    notmobile:599px
);


* {
  box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0px;

    a:link {
         text-decoration: none;
    }

    h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    h4 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    h5 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

    img {
        width: 50%;
    }
}

.form_localisation {
    width: 100%;
    background: linear-gradient(to bottom, darkgrey, 2%, rgb(243, 243, 243));
    border-top: solid 1px darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;

        form {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70%;
    
            i {
                font-size: 1.2em;
                padding-left: 10px;
                padding-right: 10px;
            }

            input {
                width: 70%;
                font-size: 1.1em;
                color: black;
                border: none; 
                border-width: 0; 
                box-shadow: none;
                background:transparent;
                padding-left: 15px;        
            }

        }
}

.bloc_présentation {
        width: 100%;
        padding-top: 20px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(248, 248, 248);
                
        h1 {
            font-size: 1.5em;
            text-align: center;
            padding-left: 30px;
            padding-right: 30px;
            margin-bottom: 0%;
        }

        p{
            font-size: 1.0em;
            color: black;
            text-align: center;
            padding-left: 30px;
            padding-right: 30px;
        }

        a {         
            width: 220px;
            height: 50px;
        
            .button_explo_restau{
                              
                button {
                    width: 220px;
                    padding: 15px 15px 15px 13px;
                    background: linear-gradient(to top, #9356DC, 45%, #FF79DA);
                    border: transparent;
                    border-radius: 30px 30px 30px 30px;
                    font-size: 0.9em;
                    color: white;
                    font-weight: bold;
                    box-shadow: 0px 5px 5px rgb(207, 207, 207);
                }
            }
        }
}

.bloc_fonctionnement {
    width: 100%;

    h2 {
        padding-left: 20px;
    }

    .bloc_fonctions {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;

        @media (min-width: 480px) and (max-width: 1039px){
            justify-content: center;
            align-items: center;
        }

        @media (min-width: 1040px){
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
                  
        a {
            width: 320px;
            margin-bottom: 30px;
        
        }

        .fonction_choix{
            align-items: center;
            width: 320px;
            display: flex;
            border-radius: 25px 25px 25px 25px;
            padding: 10px 0px 10px 0px;
            background: rgb(241, 241, 241);
            box-shadow: 0px 5px 15px rgb(219, 219, 219);

            @media (min-width: 1040px){
                padding-right: 20px;
            }

            span {
                font-size: 0.8em;
                background: #9356DC;
                color: white;
                padding: 4px 8px 3px 8px;
                border-radius: 20px 20px 20px 20px;
            }

            i {
                padding-left: 20px;
                font-size: 1.1em;
                color: grey;
            }

            p {
                font-size: 1.0em;
                color:black;
                padding-right: 70px;
                padding-left: 20px;
            }
        }
       
    }
}

.bloc_restaurant {

    width: 100%;
    background: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    justify-content: center; 

    h2 {
        padding-left: 20px;
    }

    .bloc_carte_restaurant {

        width: 100%;
        
        @media (min-width: 1080px){
            display: flex;
            flex-direction: row; 
            flex-wrap: wrap;       
            
        }
    
        .bloc_carte_coeur{  
            position: relative;
            z-index: 1;
            padding-left: 20px;
            padding-right: 20px;
        
            @media (min-width: 700px) and (max-width: 1079px){
                
                
                justify-content: center;
                width: 50%;
               
                
            }

            @media (min-width: 1080px){          
                width: calc(97%/4);
                font-size: 0.9em;
            }
    
            a {
                width: 100%;
                padding-left: 20px;
                padding-right: 20px;
                height: 250px;
                color: #000;
                border-radius: 20px 20px 20px 20px;
        
                .carte_restaurant {
                    background: white;
                    width: 100%;
                    height: 250px;
                    border: 1px solid white;
                    border-radius: 20px 20px 20px 20px;
                    box-shadow: 0px 5px 15px rgb(219, 219, 219);             

                    .img_new{
                        height: 180px;
                        img {
                            position: relative;
                            z-index: 2;
                            width: 100%;
                            object-fit: cover;
                            height: 160px;
                            border: 0px solid transparent;
                            border-radius: 20px 20px 0px 0px;            
                        }

                        p {
                            width: 70px;
                            position: relative;    
                            margin-top: 0px;
                            margin-bottom: 0px;
                            z-index: 3;
                            bottom: 150px;
                            left: 75%;
                            padding: 8px;
                            font-size: 0.8em;
                            font-weight: bold;
                            color: #3a695e;
                            background-color: #7cd4be;
                            border-radius: 2px; 
                            
                            @media (min-width: 1080px){
                            left: 60%;
                            }

                        }
        
                    }
                       
                    .carte_description {
                        display: flex; 
                        height: 50px;
                        padding-bottom: 10px;

                        .carte_texte {
                            width: 80%;
                            padding-left: 10px;
                    
                            h3 {
                                font-weight: bold;
                            }

                            h4 {
                                font-size: 1.0em;
                                font-weight: 300;
                                padding-top: 5px;
                            }
                        }

                    }
                }
            }

            .icône_interract{
                width: 30px;
                position: relative;
                z-index: 2;
                left: 80%;
                bottom: 80px;
                i {
                font-size: 1.6em;
                }
            }
        }                              
    }
}

footer {
    width: 100%;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: rgb(78, 78, 78);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    h5{
        font-family: 'Shrikhand', cursive;
        font-size: 1.2em;    
        padding-left: 20px;
        color: white;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    ul{
        width: 100%;
        padding-left: 20px;
        list-style: none;

        li{
            padding-bottom: 10px;
            

            a {
                color: white;
            }
        }

       
    }

}
