@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  margin: 0px;
}
body a:link {
  text-decoration: none;
}
body h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
body h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}
body h5 {
  margin-top: 0px;
  margin-bottom: 0px;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
header a {
  width: 40px;
  padding-left: 20px;
  margin-top: 30px;
}
header a i {
  width: 100%;
  font-size: 1.6em;
  color: #000;
}
header .logo {
  width: 90%;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
header .logo img {
  width: 50%;
}

main {
  /*Animation Loading spinner */
}
main .loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  background: #f8f8f8;
  animation: loading-animation 0s 1800ms forwards;
}
main .loader .loading_text {
  font-size: 2.2em;
  font-family: "Shrikhand", cursive;
  color: #481a7f;
  position: absolute;
}
main .loader .loading_spinner {
  display: block;
  position: relative;
  background-color: #ffdff6;
  color: #fface8;
  width: 260px;
  height: 260px;
  border: 2px solid #FF79DA;
  border-top: 6px solid;
  border-radius: 50%;
  border-top-color: #481a7f;
  animation: spin 1s ease-in-out infinite;
}
main .loader .loading_spinner::before, main .loader .loading_spinner::after {
  content: "...";
  position: absolute;
  border-radius: 50%;
  border: 5px solid transparent;
}
@keyframes loading-animation {
  to {
    visibility: hidden;
    display: none;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
main .form_localisation {
  width: 100%;
  background: linear-gradient(to bottom, darkgrey, 2%, #f3f3f3);
  border-top: solid 1px darkgrey;
  display: flex;
  align-items: center;
  padding: 20px 0px 20px 0px;
  margin-top: 20px;
}
main .form_localisation form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding-left: 90px;
}
main .form_localisation form i {
  font-size: 1.2em;
  padding-left: 0px;
  padding-right: 10px;
}
main .form_localisation form input {
  font-size: 1.1em;
  font-weight: 400;
  color: black;
  border: none;
  border-width: 0;
  box-shadow: none;
  background: transparent;
  padding-left: 15px;
}
main .bloc_présentation {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 80px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
}
main .bloc_présentation h1 {
  font-size: 1.5em;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 0%;
}
main .bloc_présentation p {
  font-size: 1em;
  color: black;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 300;
}
main .bloc_présentation .button_sub {
  width: 219px;
  height: 49px;
  padding-top: 10px;
  padding-bottom: 20px;
}
main .bloc_présentation .button_sub button {
  width: 220px;
  padding: 15px 15px 15px 13px;
  background: linear-gradient(to top, #9356DC, 45%, #FF79DA);
  border: transparent;
  border-radius: 30px 30px 30px 30px;
  font-size: 0.9em;
  color: white;
  font-weight: bold;
  box-shadow: 0px 5px 5px lightgrey;
  position: relative;
  z-index: 1;
}
main .bloc_présentation .button_sub button:hover::after {
  opacity: 1;
}
main .bloc_présentation .button_sub button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 30px 30px 30px 30px;
  background: linear-gradient(to top, #985ede, 45%, #ff93e1);
  box-shadow: 0px 5px 10px #878787;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
main .bloc_fonctionnement {
  width: 100%;
}
main .bloc_fonctionnement h2 {
  font-size: 1.5em;
  padding-left: 20px;
  padding-bottom: 10px;
}
main .bloc_fonctionnement .bloc_fonctions {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 480px) and (max-width: 1039px) {
  main .bloc_fonctionnement .bloc_fonctions {
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1040px) {
  main .bloc_fonctionnement .bloc_fonctions {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
  }
}
main .bloc_fonctionnement .bloc_fonctions a {
  width: 320px;
  margin-bottom: 30px;
}
main .bloc_fonctionnement .bloc_fonctions .fonction_choix {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 25px 25px 25px 25px;
  padding: 10px 0px 10px 0px;
  padding-left: 13px;
  background: #f1f1f1;
  box-shadow: 0px 5px 15px #dbdbdb;
  position: relative;
  z-index: 1;
}
main .bloc_fonctionnement .bloc_fonctions .fonction_choix:hover::after {
  opacity: 1;
}
main .bloc_fonctionnement .bloc_fonctions .fonction_choix::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 25px 25px 25px 25px;
  background-color: #ffdaf5;
  box-shadow: 0px 5px 10px #878787;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
main .bloc_fonctionnement .bloc_fonctions .fonction_choix:hover i {
  color: #9356DC;
}
@media (min-width: 1040px) {
  main .bloc_fonctionnement .bloc_fonctions .fonction_choix {
    padding-right: 10px;
    width: 300px;
  }
}
main .bloc_fonctionnement .bloc_fonctions .fonction_choix span {
  font-size: 0.8em;
  background: #9356DC;
  color: white;
  padding: 4px 8px 3px 8px;
  border-radius: 20px 20px 20px 20px;
  position: relative;
  right: 25px;
}
main .bloc_fonctionnement .bloc_fonctions .fonction_choix i {
  font-size: 1.2em;
  color: grey;
  position: absolute;
  padding-left: 20px;
  justify-content: center;
}
main .bloc_fonctionnement .bloc_fonctions .fonction_choix .fa-list-ul {
  font-size: 1em;
}
main .bloc_fonctionnement .bloc_fonctions .fonction_choix .fa-store {
  font-size: 1em;
}
main .bloc_fonctionnement .bloc_fonctions .fonction_choix p {
  width: 100%;
  font-size: 1em;
  color: black;
  padding-right: 20px;
  padding-left: 35px;
  font-weight: 500;
}
@media (min-width: 1040px) {
  main .bloc_fonctionnement .bloc_fonctions .fonction_choix p {
    font-size: 1em;
  }
}
main .bloc_restaurant {
  width: 100%;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
}
main .bloc_restaurant h2 {
  font-size: 1.5em;
  padding-top: 35px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-bottom: 0px;
}
main .bloc_restaurant .bloc_carte_restaurant {
  width: 100%;
}
@media (min-width: 1080px) {
  main .bloc_restaurant .bloc_carte_restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 650px) and (max-width: 1079px) {
  main .bloc_restaurant .bloc_carte_restaurant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur {
  height: 270px;
  position: relative;
  z-index: 1;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 650px) and (max-width: 1079px) {
  main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur {
    justify-content: center;
    width: 65%;
  }
}
@media (min-width: 1080px) {
  main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur {
    width: calc(97%/4);
    font-size: 0.9em;
  }
}
main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur a {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  color: #000;
  border-radius: 20px 20px 20px 20px;
}
main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur a .carte_restaurant {
  background: white;
  width: 100%;
  height: 240px;
  border: 1px solid transparent;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 10px 15px #dbdbdb;
}
main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur a .carte_restaurant .img_new {
  height: 160px;
}
main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur a .carte_restaurant .img_new img {
  position: relative;
  z-index: 2;
  width: 100%;
  object-fit: cover;
  height: 160px;
  border: 0px solid transparent;
  border-radius: 20px 20px 0px 0px;
}
main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur a .carte_restaurant .img_new p {
  width: 70px;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 3;
  bottom: 150px;
  left: 75%;
  padding: 6px 6px 6px 9px;
  font-size: 0.8em;
  font-weight: bold;
  color: #1e8f74;
  background-color: #99E2D0;
  border-radius: 2px;
}
@media (min-width: 1080px) {
  main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur a .carte_restaurant .img_new p {
    left: 60%;
  }
}
main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur a .carte_restaurant .carte_description {
  display: flex;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 20px;
}
main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur a .carte_restaurant .carte_description .carte_texte {
  width: 80%;
  padding-left: 10px;
  padding-bottom: 0px;
}
main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur a .carte_restaurant .carte_description .carte_texte h3 {
  font-weight: bold;
}
main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur a .carte_restaurant .carte_description .carte_texte h4 {
  font-size: 1em;
  font-weight: 300;
  padding-top: 3px;
}
main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur .heart_filling {
  width: 30px;
  height: 30px;
  font-weight: 100;
  left: 85%;
  bottom: 75px;
  font-size: 1.5em;
  position: relative;
  z-index: 10;
  color: black;
  background: transparent;
}
main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur .heart_filling:hover > .heart_filled {
  opacity: 1;
  transform: scale(0.8);
  z-index: 12;
}
main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur .heart_filling .heart_filled {
  color: #FF79DA;
  background: linear-gradient(to top, #9356DC, 45%, #FF79DA);
  background-clip: border-box;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 500ms;
  transform: scale(0);
  transform-origin: bottom;
  position: relative;
  bottom: 32px;
}
@media (min-width: 1080px) {
  main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur .heart_filling .heart_filled {
    bottom: 29px;
    left: 0.2px;
  }
}
main .fond_restaurant {
  height: 240px;
  position: relative;
  top: 30px;
  z-index: -2;
}
main .fond_restaurant img {
  width: 100%;
}
@media (min-width: 730px) and (max-width: 2000px) {
  main .fond_restaurant img {
    height: 300px;
    object-fit: cover;
  }
}
main .bloc_menu {
  width: 100%;
  background: #f1f1f1;
  border: 1px solid transparent;
  border-radius: 40px 40px 0px 0px;
  padding: 0px 20px 60px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .bloc_menu .nom_restaurant {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
main .bloc_menu .nom_restaurant h1 {
  font-size: 1.8em;
  font-family: "Shrikhand", cursive;
}
@media (min-width: 730px) and (max-width: 2000px) {
  main .bloc_menu .nom_restaurant {
    font-size: 1.4em;
    padding-right: 20px;
    padding-left: 20px;
  }
}
main .bloc_menu .nom_restaurant .heart_filling {
  width: 30px;
  height: 30px;
  font-weight: 400;
  font-size: 1.7em;
  position: relative;
  z-index: 10;
  color: black;
  background: transparent;
}
main .bloc_menu .nom_restaurant .heart_filling:hover > .heart_filled {
  opacity: 1;
  transform: scale(0.8);
  z-index: 12;
}
main .bloc_menu .nom_restaurant .heart_filling .heart_filled {
  color: #FF79DA;
  background: linear-gradient(to top, #9356DC, 45%, #FF79DA);
  background-clip: border-box;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 500ms;
  transform: scale(0);
  transform-origin: bottom;
  position: relative;
  bottom: 35.25px;
}
@media (min-width: 730px) and (max-width: 2000px) {
  main .bloc_menu .nom_restaurant .heart_filling .heart_filled {
    bottom: 50px;
    left: 0.2px;
  }
}
main .bloc_menu .menu {
  width: 100%;
  padding-top: 0px;
  position: relative;
}
@media (min-width: 730px) and (max-width: 2000px) {
  main .bloc_menu .menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}
main .bloc_menu .bloc_entrées {
  width: 100%;
}
@keyframes menu_animation {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (min-width: 730px) and (max-width: 2000px) {
  main .bloc_menu .bloc_entrées {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 34%;
  }
}
main .bloc_menu .bloc_entrées h2 {
  width: 10%;
  font-size: 1em;
  margin-top: 40px;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
}
@media (min-width: 730px) and (max-width: 2000px) {
  main .bloc_menu .bloc_entrées h2 {
    font-size: 1.1em;
    font-weight: 600;
  }
}
main .bloc_menu .bloc_entrées .proposition_1 {
  animation: menu_animation 1000ms ease-in-out;
}
main .bloc_menu .bloc_entrées .proposition_2 {
  animation: menu_animation 1800ms ease-in-out;
}
main .bloc_menu .bloc_entrées .proposition_3 {
  animation: menu_animation 2600ms ease-in-out;
}
main .bloc_menu .bloc_entrées .proposition_4 {
  animation: menu_animation 3100ms ease-in-out;
}
main .bloc_menu .bloc_entrées .menu_proposition {
  height: 80px;
  background: white;
  border: 0px solid transparent;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 20px;
  padding: 0px 0px 0px 10px;
  box-shadow: 0px 5px 15px #dbdbdb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (min-width: 730px) and (max-width: 2000px) {
  main .bloc_menu .bloc_entrées .menu_proposition {
    width: 90%;
  }
}
main .bloc_menu .bloc_entrées .menu_proposition .menu_text {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}
main .bloc_menu .bloc_entrées .menu_proposition .menu_text h3 {
  font-size: 1.1em;
  padding-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 730px) and (max-width: 2000px) {
  main .bloc_menu .bloc_entrées .menu_proposition .menu_text h3 {
    font-size: 1em;
  }
}
main .bloc_menu .bloc_entrées .menu_proposition .menu_text h4 {
  font-size: 1em;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 730px) and (max-width: 2000px) {
  main .bloc_menu .bloc_entrées .menu_proposition .menu_text h4 {
    font-size: 0.9em;
  }
}
main .bloc_menu .bloc_entrées .menu_proposition .menu_prix {
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
main .bloc_menu .bloc_entrées .menu_proposition .menu_prix p {
  font-weight: bold;
  padding-top: 25px;
  padding-right: 10px;
}
main .bloc_menu .bloc_entrées .menu_proposition .menu_check {
  position: relative;
  left: 68px;
  padding: 28px 28px 28px 20px;
  background: #99E2D0;
  border-radius: 0px 20px 20px 0px;
  background: #99E2D0;
  overflow: hidden;
}
main .bloc_menu .bloc_entrées .menu_proposition .menu_check i {
  font-size: 1.5em;
  color: white;
  transform: rotate(360deg);
}
main .bloc_menu .bloc_entrées .menu_proposition:hover .menu_check {
  transform: translateX(-100%);
  transition: transform 600ms ease-in-out;
}
main .bloc_menu .bloc_entrées .menu_proposition:hover .menu_check i {
  transform: rotateZ(0deg);
  transition: transform 900ms ease-in-out;
}
main .bloc_menu .bloc_plats {
  width: 100%;
}
@media (min-width: 730px) and (max-width: 2000px) {
  main .bloc_menu .bloc_plats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 34%;
  }
}
main .bloc_menu .bloc_plats h2 {
  width: 10%;
  font-size: 1em;
  margin-top: 40px;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
}
@media (min-width: 730px) and (max-width: 2000px) {
  main .bloc_menu .bloc_plats h2 {
    font-size: 1.1em;
    font-weight: 600;
  }
}
main .bloc_menu .bloc_plats .proposition_1 {
  animation: menu_animation 1000ms 1000ms ease-in-out;
}
main .bloc_menu .bloc_plats .proposition_2 {
  animation: menu_animation 1800ms 1000ms ease-in-out;
}
main .bloc_menu .bloc_plats .proposition_3 {
  animation: menu_animation 2600ms 1000ms ease-in-out;
}
main .bloc_menu .bloc_plats .menu_proposition {
  height: 80px;
  background: white;
  border: 0px solid transparent;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 20px;
  padding: 0px 0px 0px 10px;
  box-shadow: 0px 5px 15px #dbdbdb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (min-width: 730px) and (max-width: 2000px) {
  main .bloc_menu .bloc_plats .menu_proposition {
    width: 90%;
  }
}
main .bloc_menu .bloc_plats .menu_proposition .menu_text {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .bloc_menu .bloc_plats .menu_proposition .menu_text h3 {
  font-size: 1.1em;
  padding-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 730px) and (max-width: 2000px) {
  main .bloc_menu .bloc_plats .menu_proposition .menu_text h3 {
    width: 75%;
    font-size: 1em;
  }
}
main .bloc_menu .bloc_plats .menu_proposition .menu_text h4 {
  font-size: 1em;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 730px) and (max-width: 2000px) {
  main .bloc_menu .bloc_plats .menu_proposition .menu_text h4 {
    font-size: 0.9em;
  }
}
main .bloc_menu .bloc_plats .menu_proposition .menu_prix {
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
main .bloc_menu .bloc_plats .menu_proposition .menu_prix p {
  font-weight: bold;
  padding-top: 25px;
  padding-right: 10px;
}
main .bloc_menu .bloc_plats .menu_proposition .menu_check {
  position: relative;
  left: 68px;
  padding: 28px 28px 28px 20px;
  background: #99E2D0;
  border-radius: 0px 20px 20px 0px;
  background: #99E2D0;
  overflow: hidden;
}
main .bloc_menu .bloc_plats .menu_proposition .menu_check i {
  font-size: 1.5em;
  color: white;
  transform: rotate(360deg);
}
main .bloc_menu .bloc_plats .menu_proposition:hover .menu_check {
  transform: translateX(-100%);
  transition: transform 600ms ease-in-out;
}
main .bloc_menu .bloc_plats .menu_proposition:hover .menu_check i {
  transform: rotateZ(0deg);
  transition: transform 900ms ease-in-out;
}
main .bloc_menu .bloc_desserts {
  width: 100%;
}
@media (min-width: 730px) and (max-width: 2000px) {
  main .bloc_menu .bloc_desserts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 34%;
  }
}
main .bloc_menu .bloc_desserts h2 {
  width: 10%;
  font-size: 1em;
  margin-top: 40px;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
}
@media (min-width: 730px) and (max-width: 2000px) {
  main .bloc_menu .bloc_desserts h2 {
    font-size: 1.1em;
    font-weight: 600;
  }
}
main .bloc_menu .bloc_desserts .proposition_1 {
  animation: menu_animation 1000ms 2000ms ease-in-out;
}
main .bloc_menu .bloc_desserts .proposition_2 {
  animation: menu_animation 1800ms 2000ms ease-in-out;
}
main .bloc_menu .bloc_desserts .proposition_3 {
  animation: menu_animation 2600ms 2000ms ease-in-out;
}
main .bloc_menu .bloc_desserts .menu_proposition {
  height: 80px;
  background: white;
  border: 0px solid transparent;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 20px;
  padding: 0px 0px 0px 10px;
  box-shadow: 0px 5px 15px #dbdbdb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (min-width: 730px) and (max-width: 2000px) {
  main .bloc_menu .bloc_desserts .menu_proposition {
    width: 90%;
  }
}
main .bloc_menu .bloc_desserts .menu_proposition .menu_text {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .bloc_menu .bloc_desserts .menu_proposition .menu_text h3 {
  font-size: 1.1em;
  padding-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 730px) and (max-width: 2000px) {
  main .bloc_menu .bloc_desserts .menu_proposition .menu_text h3 {
    font-size: 1em;
  }
}
main .bloc_menu .bloc_desserts .menu_proposition .menu_text h4 {
  font-size: 1em;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 730px) and (max-width: 2000px) {
  main .bloc_menu .bloc_desserts .menu_proposition .menu_text h4 {
    font-size: 0.9em;
  }
}
main .bloc_menu .bloc_desserts .menu_proposition .menu_prix {
  width: 25%;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
main .bloc_menu .bloc_desserts .menu_proposition .menu_prix p {
  font-weight: bold;
  padding-top: 25px;
}
main .bloc_menu .bloc_desserts .menu_proposition .menu_check {
  position: relative;
  left: 68px;
  padding: 28px 28px 28px 20px;
  background: #99E2D0;
  border-radius: 0px 20px 20px 0px;
  background: #99E2D0;
  overflow: hidden;
}
main .bloc_menu .bloc_desserts .menu_proposition .menu_check i {
  font-size: 1.5em;
  color: white;
  transform: rotate(360deg);
}
main .bloc_menu .bloc_desserts .menu_proposition:hover .menu_check {
  transform: translateX(-100%);
  transition: transform 600ms ease-in-out;
}
main .bloc_menu .bloc_desserts .menu_proposition:hover .menu_check i {
  transform: rotateZ(0deg);
  transition: transform 900ms ease-in-out;
}
main .bloc_menu .button_commande {
  width: 219px;
  height: 49px;
  padding-top: 10px;
  padding-bottom: 20px;
}
main .bloc_menu .button_commande button {
  width: 220px;
  padding: 15px 15px 15px 13px;
  background: linear-gradient(to top, #9356DC, 45%, #FF79DA);
  border: transparent;
  border-radius: 30px 30px 30px 30px;
  font-size: 0.9em;
  color: white;
  font-weight: bold;
  box-shadow: 0px 5px 5px lightgrey;
  position: relative;
  z-index: 1;
}
@media (min-width: 730px) and (max-width: 2000px) {
  main .bloc_menu .button_commande button {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1em;
  }
}
main .bloc_menu .button_commande button:hover::after {
  opacity: 1;
}
main .bloc_menu .button_commande button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 30px 30px 30px 30px;
  background: linear-gradient(to top, #985ede, 45%, #ff93e1);
  box-shadow: 0px 5px 10px #878787;
  opacity: 0;
  z-index: -1;
  transition: opacity 300ms;
}

footer {
  width: 100%;
  margin-top: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #4e4e4e;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
footer h5 {
  font-family: "Shrikhand", cursive;
  font-size: 1.2em;
  padding-left: 20px;
  color: white;
  margin-top: 0%;
  margin-bottom: 0%;
}
footer ul {
  width: 100%;
  padding-left: 20px;
  list-style: none;
}
@media (min-width: 730px) and (max-width: 2000px) {
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    padding-top: 10px;
  }
}
footer ul li {
  padding-bottom: 10px;
}
footer ul li .fa-utensils {
  padding-right: 8px;
}
@media (min-width: 730px) and (max-width: 2000px) {
  footer ul li .fa-utensils {
    padding-right: 3px;
  }
}
footer ul li i {
  font-size: 0.8em;
  padding-right: 2px;
}
footer ul li a {
  color: white;
}
footer ul li a:hover {
  color: #FF79DA;
}

/*# sourceMappingURL=styles.css.map */
