@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  margin: 0px;
}
body a:link {
  text-decoration: none;
}
body h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
body h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}
body h5 {
  margin-top: 0px;
  margin-bottom: 0px;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
header a  i {
  font-size: 2em;
  padding-right: 100px;
}
header img {
  width: 50%;
}

main .form_localisation {
  width: 100%;
  background: linear-gradient(to bottom, darkgrey, 2%, #f3f3f3);
  border-top: solid 1px darkgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 20px 0px;
}
main .form_localisation form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}
main .form_localisation form i {
  font-size: 1.2em;
  padding-left: 10px;
  padding-right: 10px;
}
main .form_localisation form input {
  width: 70%;
  font-size: 1.1em;
  font-weight: 400;
  color: black;
  border: none;
  border-width: 0;
  box-shadow: none;
  background: transparent;
  padding-left: 15px;
}
main .bloc_présentation {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 80px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
}
main .bloc_présentation h1 {
  font-size: 1.5em;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 0%;
}
main .bloc_présentation p {
  font-size: 1em;
  color: black;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 300;
}
main .bloc_présentation .button_sub {
  width: 219px;
  height: 49px;
  padding-top: 10px;
  padding-bottom: 20px;
}
main .bloc_présentation .button_sub button {
  width: 220px;
  padding: 15px 15px 15px 13px;
  background: linear-gradient(to top, #9356DC, 45%, #FF79DA);
  border: transparent;
  border-radius: 30px 30px 30px 30px;
  font-size: 0.9em;
  color: white;
  font-weight: bold;
  box-shadow: 0px 5px 5px #cfcfcf;
}
main .bloc_fonctionnement {
  width: 100%;
}
main .bloc_fonctionnement h2 {
  font-size: 1.5em;
  padding-left: 20px;
  padding-bottom: 10px;
}
main .bloc_fonctionnement .bloc_fonctions {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 480px) and (max-width: 1039px) {
  main .bloc_fonctionnement .bloc_fonctions {
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1040px) {
  main .bloc_fonctionnement .bloc_fonctions {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
main .bloc_fonctionnement .bloc_fonctions a {
  width: 320px;
  margin-bottom: 30px;
}
main .bloc_fonctionnement .bloc_fonctions .fonction_choix {
  align-items: center;
  width: 320px;
  display: flex;
  border-radius: 25px 25px 25px 25px;
  padding: 10px 0px 10px 0px;
  margin-left: 13px;
  background: #f1f1f1;
  box-shadow: 0px 5px 15px #dbdbdb;
}
@media (min-width: 1040px) {
  main .bloc_fonctionnement .bloc_fonctions .fonction_choix {
    padding-right: 10px;
    width: 300px;
  }
}
main .bloc_fonctionnement .bloc_fonctions .fonction_choix span {
  font-size: 0.8em;
  background: #9356DC;
  color: white;
  padding: 4px 8px 3px 8px;
  border-radius: 20px 20px 20px 20px;
  position: relative;
  right: 13px;
}
main .bloc_fonctionnement .bloc_fonctions .fonction_choix i {
  font-size: 1.2em;
  color: grey;
  position: absolute;
  padding-left: 35px;
  justify-content: center;
}
main .bloc_fonctionnement .bloc_fonctions .fonction_choix p {
  width: 100%;
  font-size: 1em;
  color: black;
  padding-right: 40px;
  padding-left: 55px;
  font-weight: 500;
}
@media (min-width: 1040px) {
  main .bloc_fonctionnement .bloc_fonctions .fonction_choix p {
    font-size: 0.9em;
  }
}
main .bloc_restaurant {
  width: 100%;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
}
main .bloc_restaurant h2 {
  font-size: 1.5em;
  padding-top: 35px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-bottom: 0px;
}
main .bloc_restaurant .bloc_carte_restaurant {
  width: 100%;
}
@media (min-width: 1080px) {
  main .bloc_restaurant .bloc_carte_restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 650px) and (max-width: 1079px) {
  main .bloc_restaurant .bloc_carte_restaurant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur {
  height: 270px;
  position: relative;
  z-index: 1;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 650px) and (max-width: 1079px) {
  main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur {
    justify-content: center;
    width: 65%;
  }
}
@media (min-width: 1080px) {
  main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur {
    width: calc(97%/4);
    font-size: 0.9em;
  }
}
main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur a {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  color: #000;
  border-radius: 20px 20px 20px 20px;
}
main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur a .carte_restaurant {
  background: white;
  width: 100%;
  height: 240px;
  border: 1px solid white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 10px 15px #dbdbdb;
}
main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur a .carte_restaurant .img_new {
  height: 160px;
}
main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur a .carte_restaurant .img_new img {
  position: relative;
  z-index: 2;
  width: 100%;
  object-fit: cover;
  height: 160px;
  border: 0px solid transparent;
  border-radius: 20px 20px 0px 0px;
}
main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur a .carte_restaurant .img_new p {
  width: 70px;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 3;
  bottom: 150px;
  left: 75%;
  padding: 6px 6px 6px 9px;
  font-size: 0.8em;
  font-weight: bold;
  color: #1e8f74;
  background-color: #7cd4be;
  border-radius: 2px;
}
@media (min-width: 1080px) {
  main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur a .carte_restaurant .img_new p {
    left: 60%;
  }
}
main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur a .carte_restaurant .carte_description {
  display: flex;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 20px;
}
main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur a .carte_restaurant .carte_description .carte_texte {
  width: 80%;
  padding-left: 10px;
  padding-bottom: 0px;
}
main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur a .carte_restaurant .carte_description .carte_texte h3 {
  font-weight: bold;
}
main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur a .carte_restaurant .carte_description .carte_texte h4 {
  font-size: 1em;
  font-weight: 300;
  padding-top: 3px;
}
main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur .icône_interract {
  width: 30px;
  font-size: 1em;
  font-weight: 100;
  position: relative;
  z-index: 2;
  left: 85%;
  bottom: 75px;
}
main .bloc_restaurant .bloc_carte_restaurant .bloc_carte_coeur .icône_interract i {
  font-size: 1.5em;
}
main .fond_restaurant img {
  width: 50% height 200px;
}
main .bloc_menu {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 30px 30px 30px 30px;
}
main .bloc_menu .nom_restaurant h1 {
  font-family: "Shrikhand", cursive;
}
footer {
  width: 100%;
  margin-top: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #4e4e4e;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
footer h5 {
  font-family: "Shrikhand", cursive;
  font-size: 1.2em;
  padding-left: 20px;
  color: white;
  margin-top: 0%;
  margin-bottom: 0%;
}
footer ul {
  width: 100%;
  padding-left: 20px;
  list-style: none;
}
footer ul li {
  padding-bottom: 10px;
}
footer ul li a {
  color: white;
}

/*# sourceMappingURL=styles.css.map */
